@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body
{ 
padding-top:70px;
	
}
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color:red;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
/* **************
share code css
*****************
*/
#main-content-share-code
{
	background-color:#000000;
	padding-top:1em;
	padding-left:80px;
	position:relative
	
	}
#code
{
	font-family:'Source code pro', sans-serif;
	width: 100%;
	min-height: 900px;
	border:none;
	outline:0;
	background-color:#000000;
	color:#C5C5C5;
	resize:none;
	font-size:14px;
	overflow:hidden;
	
	
	}
	/* **************
 end share code css
*****************
*/
.nav
{ position:absolute;
top:10px;
right:10px
}
	
	

	